{{ if .page }}
  {{ with site.GetPage .page }}
    <section class="">
      <div class="container h-full">
        <div class="row">
          <div class="col-12">
            {{ range .Params.experience }}
              <div>
                <div class="p-4">
                  <a class="mb-3 flex items-center" href="{{ .link }}">
                    <h3>
                      {{ .name | markdownify }}
                    </h3>
                    <h4 class="mx-4">|</h4>
                    <h5 class="">
                      {{ .company | markdownify }}
                    </h5>
                  </a>
                  <ul class="mb-4">
                    <li class="mr-4 inline-block">
                    <i class="fa-regular fa-calendar mr-2"></i>
                      {{ time.Format "Jan 06" .date_start }} -
		    {{ if .date_end }}
		        {{ time.Format "Jan 06" .date_end }}
		    {{ else }}
		        {{ i18n "present" }}
		    {{end}}
                    </li>
                    <li class="mr-4 inline-block">
                    <i class="fa-regular fa-location-dot mr-2"></i>
                      {{ .location | markdownify }}
                    </li>
                  </ul>
                  <p class="mb-4 content">{{ .content | markdownify }}</p>
                  {{ if .link }}
                    <a
                      class="btn btn-outline-primary btn-sm mb-4"
                      href="{{ .link }}">
                      {{ i18n "read_more" }}
                    </a>
		    {{ else }}

                    <a
                      class="btn btn-outline-primary btn-sm mb-4"
	    target="_blank" rel="noopener"
                      href="http://www.linkedin.com/in/andresnav">
                      {{ i18n "read_more" }}
                    </a>
                  {{ end }}
                </div>
              </div>
              <hr />
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
